<app-loading *ngIf="loading"></app-loading>


<div *ngIf="!loading">

    <div class="row animated fadeIn">
        <div class="col-sm-12">
        <section class="panel">
            <div class="panel-body">
            <h4>
                <i class="fas fa-check-circle"></i>
                Autorización de Nota de Venta
            </h4>
            <hr>

            <div class="row text-center mb-3">
                <div class="col-lg-6 mb-2">
                    <input class="form-control" type="number" min="1" pattern="^[0-9]+" placeholder="Folio Nota de Venta" #folio>
                </div>
                <div class="col-lg-6 ">
                    <button [disabled]="buscando" type="button" class="btn btn-success btn-block" (click)="buscarNotaVenta(folio.value)">
                            <span *ngIf="!buscando">Buscar NV</span>
                            <span *ngIf="buscando"><i class="fas fa-sync-alt fa-spin mr-2"></i>Buscando</span>
                    </button>
                </div>
            </div>

            <div *ngIf="!existe" class="alert alert-danger text-center" role="alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    El documento no existe!!
            </div>

            <div *ngIf="msjEstado" class="alert alert-info text-center" role="alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    {{estadoDoc}}
            </div>

            <div [ngClass]="{'alert-info':buscando, 'alert-warning':!buscando}" class="alert col-lg-12 text-center" role="alert">
                <p style="font-size: 20px"><strong>Busca una nota de venta</strong></p>
                <h2>
                    <span *ngIf="!buscando"><i class="fas fa-pencil-alt"></i></span>
                    <span *ngIf="buscando"><i class="fas fa-sync-alt fa-spin"></i></span>
                </h2>
                <p>Necesitas indicar el folio de la nota de venta a buscar</p>
            </div>

            <div [ngClass]="{'alert-success':autorizado, 'alert-danger':!autorizado}" *ngIf="msjAutorizado" class="alert alert-success text-center" role="alert">
                    <p *ngIf="autorizado">Documento Autorizado</p>
                    <p *ngIf="!autorizado">Documento Rechazado</p>
            </div>

            <div class="row" *ngIf="dataSpNotaVenta.length > 0">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <p><b>Folio: </b>{{dataSpNotaVenta[0].en_numnot}}</p>
                            <p><b>Cliente: </b>{{dataSpNotaVenta[0].en_rutcli+"-"+dataSpNotaVenta[0].en_digcli+" "+dataSpNotaVenta[0].en_nomcli}}</p>
                            <p><b>Fecha: </b>{{dataSpNotaVenta[0].en_fecemi | date:'dd/MM/yyyy'}}</p>
                            <p><b>Vendedor: </b>{{dataSpNotaVenta[0].en_nomven}}</p>
                            <p><b>Condiciones: </b>{{dataSpNotaVenta[0].en_nomfor+" "+dataSpNotaVenta[0].en_nompgo}}</p>
                            <p *ngIf="dataSpNotaVenta[0].en_desct1 > 0"><b>Desc: </b>{{dataSpNotaVenta[0].en_desct1 +" %"}}</p>
                            <p><b>Monto: </b>{{montoTotalDocumento | monedaChilena}}</p>
                            
                            <div class="row">
                                <div class="col-lg-6 col-xs-12 text-left mb-2">
                                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#collapseDetalle" aria-expanded="false" aria-controls="collapseDetalle">
                                        <i class="fas fa-angle-double-down mr-2"></i>
                                        Mostrar Detalle
                                    </button>
                                </div>
                                <div class="col-lg-6 col-xs-12 ">
                                    <button class="btn btn-success btn-block mr-2" type="button" (click)="autorizar(1)">
                                        <i class="fas fa-check mr-2"></i>
                                        Autorizar
                                    </button>
                                    <button class="btn btn-danger btn-block" type="button" (click)="autorizar(0)">
                                        <i class="fas fa-times mr-2"></i>
                                        Rechazar
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="card-body collapse" id="collapseDetalle">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered">
                                    <thead class="table-info">
                                    <tr>
                                        <th scope="col" class=""><span class="ml-2">SKU</span></th>
                                        <th scope="col"><span class="ml-2">Nombre</span></th>
                                        <th scope="col" class="text-right"><span class="mr-2">Cant.</span></th>
                                        <th scope="col" class="text-right"><span class="mr-2">P.Lista</span></th>
                                        <th scope="col" class="text-right"><span class="mr-2">Valor</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let i of dataSpNotaVenta">
                                        <th><span class="ml-2">{{i.LN_CODART}}</span></th>
                                        <td><span class="ml-2">{{i.LN_DESART}}</span></td>
                                        <td class="text-right" *ngIf="i.LN_CANART > 0"><span class="mr-2">{{i.LN_CANART}}</span></td>
                                        <td *ngIf="i.LN_CANART <= 0"></td>
                                        <td class="text-right" *ngIf="i.PrecioLista > 0"><span class="mr-2">{{i.PrecioLista | monedaChilena}}</span></td>
                                        <td *ngIf="i.PrecioLista <= 0"></td>
                                        <td [ngClass]="{'table-success':i.LN_VALUNI > i.PrecioLista, 'table-danger':i.LN_VALUNI < i.PrecioLista}" class="text-right" *ngIf="i.LN_VALUNI > 0"><span class="mr-2">{{i.LN_VALUNI | monedaChilena}}</span></td>
                                        <td *ngIf="i.LN_VALUNI <= 0"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </section>
        </div>
    </div>
    
</div>