<h2 class="animated fast fadeIn">
    Consuta sp 1076
</h2>

<!-- filtros -->
<form (ngSubmit)="cargarGrafico()" #forma="ngForm">
    <div class="form-row">
      <div class="col">
        <label class="my-1 mr-2" for="inicio">Inicio</label>
        <input [(ngModel)]="inicio" name="inicio" type="date" class="form-control form-control-sm" id="inicio" value="" required>
        <label class="my-1 mr-2" for="vendedor">Vendedor</label>
        <select class="form-control form-control-sm" id="vendedor">
          <option *ngFor="let i of vendedores" [value]="i.ve_codven">{{i.ve_codven + " - " + i.ve_nomven | titlecase}}</option>
        </select>
      </div>
      <div class="col">
          <label class="my-1 mr-2" for="termino">Termino</label>
          <input [(ngModel)]="termino" name="termino" type="date" class="form-control form-control-sm" id="termino" value="" required>
          <label class="my-1 mr-2" for="local">Local</label>
          <select class="form-control form-control-sm" id="local">
            <option *ngFor="let i of locales;" [value]="i.lc_codloc">{{i.lc_codloc + " - " + i.lc_nomloc | titlecase }}</option>
          </select>
      </div>
    </div>
    <button [disabled]="!forma.valid" type="submit" class="mt-3 btn btn-outline-primary">Buscar</button>
    <!-- <button type="button" class="ml-3 mt-3 btn" (click)="reset()">Limpiar</button> -->


    <h2 class="mt-4">
      Resultado por Comparar
    </h2>
    <div class="row">
      <div class="col">
        <div class="alert alert-info" role="alert" *ngIf="dataSP.length > 0">
          Mes: <b>{{ mesPorComparar.TM_MESPER | getMes}} </b>
          Año: <b>{{ mesPorComparar.TM_ANOPER}}</b>
          Venta: <b>{{ mesPorComparar.TM_MTOVTA | currency: 'CLP '}} </b>
          Credito: <b>{{ mesPorComparar.TM_MTOCRE | currency: 'CLP '}}</b>
          Saldo: <b>{{ mesPorComparar.TM_MTOVTA - mesPorComparar.TM_MTOCRE | currency: 'CLP '}}</b>
        </div>
      </div>
    </div>
  
</form>


<hr>

<div class="lead animated fadeIn">
  <div style="display: block">
    <canvas baseChart
      [(datasets)]="barChartData"
      [(labels)]="barChartLabels"
      [(options)]="barChartOptions"
      [(legend)]="barChartLegend"
      [(chartType)]="barChartType">
    </canvas>
  </div>
</div>



<div class="mt-4 mb-2">
  <h2 class="mb-1">
    Tabla
  </h2>
  <button type="button" class="btn btn-outline-primary mr-1" [disabled]="tamano === 40" (click)="tamano = tamano + 5">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" class="btn btn-outline-primary" [disabled]="tamano === 5" (click)="tamano = tamano - 5">
    <i class="fa fa-minus"></i>
  </button>
</div>

<div class="lead animated fadeIn">
    <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Mes</th>
            <th scope="col">Año</th>
            <th scope="col">Venta</th>
            <th scope="col">Credito</th>
            <th scope="col">Saldo</th>
          </tr>
        </thead>
        <tbody [style.fontSize.px]="tamano">
          <tr *ngFor="let i of dataSP">
            <th>{{i.TM_MESPER | getMes}}</th> 
            <td>{{i.TM_ANOPER}}</td>
            <td>{{i.TM_MTOVTA | currency: 'CLP '}}</td>
            <td>{{i.TM_MTOCRE | currency: 'CLP '}}</td>
            <td>{{i.TM_MTOVTA - i.TM_MTOCRE | currency: 'CLP '}}</td>
          </tr>
        </tbody>
      </table>
</div>


