












<!-- <nav class="navbar-expand-md navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/logoIcono.ico" width="30" height="30" class="imgLogo d-inline-block align-top" alt="">
        {{ app_nombre }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isLogeado">
                <a class="nav-link">Registro</a>
            </li>
            <li class="nav-item mr-3" *ngIf="isLogeado">
                <a class="nav-link"><span class="badge badge-success">+ 9</span> Perfil</a>
            </li>
            <li class="nav-item" *ngIf="!isLogeado">
                <a class="nav-link" >Ingresar</a>
            </li>
            <li class="nav-item" *ngIf="isLogeado">
                <button class="btn btn-outline-success" type="button">Salir</button>
            </li>
        </ul>

    </div>
</nav>
 -->
