<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <i class="fa fa-bars"></i>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <a class="navbar-brand  ml-3" [routerLink]="['home']">
              {{ app_nombre }}
              <span class="h4 text-success">{{ empresa | titlecase }}</span>
          </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" *ngIf="!isLogeado" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['usuario', 'registro']">Registro</a>
                    </li>
                    <li class="nav-item mr-3" *ngIf="isLogeado" routerLinkActive="active">
                        <!--Aqui debe ir el nombre de usuario-->
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-success dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                                <i class="fas fa-star"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOffset">
                                <a (click)="cambiaEmpresa(i)" class="dropdown-item" *ngFor="let i of empresas"><i class="fa fa-cog mr-2"></i>{{i.em_nombre | titlecase}}</a>
                            </div>
                        </div>
                        <!-- <a class="nav-link"><span class="badge badge-success">+ 9</span> Perfil</a> -->
                    </li>
                    <li class="nav-item" *ngIf="!isLogeado" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['usuario', 'login']">Ingresar</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogeado" routerLinkActive="active">
                        <button class="btn btn-outline-success" type="button" (click)="salir()">Salir</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>












<!-- <nav class="navbar-expand-md navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/logoIcono.ico" width="30" height="30" class="imgLogo d-inline-block align-top" alt="">
        {{ app_nombre }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isLogeado">
                <a class="nav-link">Registro</a>
            </li>
            <li class="nav-item mr-3" *ngIf="isLogeado">
                <a class="nav-link"><span class="badge badge-success">+ 9</span> Perfil</a>
            </li>
            <li class="nav-item" *ngIf="!isLogeado">
                <a class="nav-link" >Ingresar</a>
            </li>
            <li class="nav-item" *ngIf="isLogeado">
                <button class="btn btn-outline-success" type="button">Salir</button>
            </li>
        </ul>

    </div>
</nav>
 -->
