
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">

        <div class="sidebar-header h3">
            <img src="../assets/logoIcono.ico" width="30" height="30" class="imgLogo d-inline-block align-top" alt="">
            Dashboard
        </div>

        <ul class="list-unstyled components">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">
                    <span class="icono"><i class="fas fa-home"></i></span>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <span class="icono"><i class="fas fa-briefcase"></i></span>
                  Consultas
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li routerLinkActive="active">
                        <a [routerLink]="['consulta', 'sp1076']">SP 1076</a>
                    </li>
                    <!-- <li>
                        <a href="#">SP 1080</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <!-- <a href="#">
                  <span class="icono"><i class="fas fa-chart-pie"></i></span>
                  Rankings
                </a> -->
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="icono"><i class="fas fa-chart-bar"></i></span>
                  Ventas
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li routerLinkActive="active">
                        <a [routerLink]="['venta', 'autorizaNV']">Autorización N. Venta</a>
                    </li>
                    <li>
                        <a href="#">Por Producto</a>
                    </li>
                    <li>
                        <a href="#">Por Vendedor</a>
                    </li>
                    <li>
                        <a href="#">Por Cliente</a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a href="#">
                  <span class="icono"><i class="fas fa-copy"></i></span>
                  Estadisticas
                </a>
            </li> -->
            <!-- <li>
                <a href="#">
                  <span class="icono"><i class="fas fa-shopping-cart"></i></span>
                  Compras
                </a>
            </li> -->
        </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="navbar-btn">
                <i class="fa fa-bars"></i>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
              </button>

              <a class="navbar-brand  ml-3" [routerLink]="['home']">
                  {{ app_nombre }}
              </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" *ngIf="!isLogeado" routerLinkActive="active">
                            <a class="nav-link" [routerLink]="['usuario', 'registro']">Registro</a>
                        </li>
                        <li class="nav-item mr-3" *ngIf="isLogeado" routerLinkActive="active">
                            <!--Aqui debe ir el nombre de usuario-->
                            <a class="nav-link"><span class="badge badge-success">+ 9</span> Perfil</a>
                        </li>
                        <li class="nav-item" *ngIf="!isLogeado" routerLinkActive="active">
                            <a class="nav-link" [routerLink]="['usuario', 'login']">Ingresar</a>
                        </li>
                        <li class="nav-item" *ngIf="isLogeado" routerLinkActive="active">
                            <button class="btn btn-outline-success" type="button">Salir</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>